*{
    font-family: 'Jockey One', 'IBM Plex Sans'
, sans-serif
}

img {
    width: 26%;
    float: left;
    margin: 3%;
}
h1{
    font-size: larger;
    letter-spacing: 15px;
}

img:hover{
  /*  height: 28%;*/
    width: 28%;
}

#nav {
    position: absolute;
    /* position: fixed; */
}