<h1>Results page</h1>

<ul>
    <% data["Search"].forEach(function(movie){ %>
        <li><%= movie["Title"] %> - <%= movie["Year"] %></li>
    <% }); %>
</ul>


<form action="/">
    <input type="submit" value="Go back" />
</form>
